# Ignorar entornos virtuales y cachés pesadas
venv/
env/
.env
__pycache__/
*.pyc

# Ignorar modelos pesados si existieran localmente
models/
weights/
*.pth
*.pt
*.safetensors
*.bin

# Ignorar carpetas de resultados de video/audio
youtube_video/
output/
input/
cache/

# Archivos de la máquina virtual o dependencias locales
.git/
.dockerignore
Dockerfile
docker-compose.yml
docker-clean-build.ps1
